.current-card {
  @apply flex rounded-3xl;
}

.current-cardInner {
  @apply z-10;
  height: 300px;
}

.current-gradient {
  @apply absolute w-full h-full top-0 left-0 rounded-3xl bg-cover;
  background-image: var(--gradient);
  opacity: 0.7;
}

.current-img {
  @apply absolute w-full h-full top-0 left-0 bg-cover rounded-3xl;
  background-image: url("./assets/mountain.jpeg");
}
